.form{
    display: flex;
    width: 80%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 5px 1px grey;;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    top: 450px;
    left: 130px;
}

.section-form{
    height: 100px;
}

.form .search{
    width: 19%;
    height: 40px;
    border: 1px solid rgb(196, 193, 193);
    border-radius: 3px;
    padding-left: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.form .form-category{
    width: 19%;
    height: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.form .form-price{
    width: 19%;
    height: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
}

.form .form-status{
    width: 19%;
    height: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.form .form-button{
    width: 10%;
    height: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    background-color: #5CB85F;
    color: white;
    border-radius: 2px;
}

.form .form-button:hover{
    background-color: #6bd46f !important;
    color: white !important;
}